@{
    ViewData["Title"] = "Adicionar Moto";
}
@model MotoModel

<div class="text-center">
    <h1 class="display-4">Adicionar nova moto</h1>
</div>
<form asp-controller="Moto" asp-action="Adicionar" method="post">
    
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input asp-for="Nome" type="text" class="form-control" placeholder="Nome">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="form-group">
        <label for="Ano">Ano</label>
        <input asp-for="Ano" type="number" class="form-control" placeholder="Ano">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="form-group">
        <label for="Descrição">Cilindradas</label>
        <input asp-for="Cilindradas" type="text" class="form-control" placeholder="Cilindradas">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="form-group">
        <label for="Motor">Vel. máx.</label>
        <input asp-for="MaxVel" type="text" class="form-control" placeholder="Velocidade Máxima">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="form-group">
        <label for="Preço">Preço</label>
        <input asp-for="Preço" type="number" class="form-control" placeholder="Preço">
        @Html.ValidationMessageFor(x => x.Nome)
        <br />

    </div>
    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a role="button" class="btn btn-danger" asp-controller="Moto" asp-action="Index">Voltar</a>
</form>
